{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "tabWidth": 2
      }
    }
  ]
}
